<article class="post__card">
  <a href="{{ post.url | relative_url }}" class="post__link">
    <div class="post__image" style="background-image: url({{ post.featured_image | relative_url }})">
    </div>
    <time class="post__date label--small">{{ post.date | date: "%B %d, %Y" }}</time>
    <h5 class="post__title subtitle">{{ post.title }}</h5>
    <!-- Display post tags -->
    <div class="post__tags">
        {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}" class="tag-pill">{{ tag }}</a>
        {% endfor %}
    </div>
  </a>
</article>
